<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>YcombinatorParser</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="#">FAQ</a></li>
        </ul>
        <div class="jumbotron">
            <h2>For parsing news.ycombinator.com click on the button "Parse me!"</h2>
            <p>
                <a class="btn btn-primary btn-lg" 
                   style="position: center;" 
                   href="#" 
                   role="button">Parse me!</a>
            </p>
            <br><br>
            {% if posts%}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Autor</th>
                        <th>URL</th>
                        <th>Site</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}                    
                        <tr>
                            <td>{{ post.rownumber }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.autor }}</td>
                            <td><a href="{{ post.url }}"> {{ post.url }} </a> </td>
                            <td>{{ post.site }}</td>
                        </tr>                    
                    {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>
    </div>  


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </body>
</html>